<h1>Der gesuchte Movie: <strong><i>"Matrix"</i></strong></h1>
<!--<div class="container pt-2" *ngIf="searchMoviePage$">-->
<!--  <div class="row mb-2" *ngFor="let result of searchMoviePage$; let index = index" [ngClass]="{'odd': 0 === index % 2, 'even': 1 === index % 2}">-->
<!--    <div class="col-lg-3 mb-1 mt-1">-->
<!--      <img src="{{this.imageBasePath}}{{result.poster_path}}" alt="Image of the movie">-->
<!--    </div>-->
<!--    <div class="col-lg-9 mt-2">-->
<!--      <h4 class="card-title">{{result.title}}</h4>-->
<!--      <p>{{result.overview}}</p>-->
<!--      <p><strong>Bewertung: </strong>{{result.vote_average}}</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
