<!-- Footer -->
<footer class="page-footer font-small unique-color-dark bg-dark mt-2 pt-1 footer-class">
  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-1">
        <h3 class="text-white">Vertiefungsarbeit</h3>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <h5 class="text-white">SoftwareEngineering Web: Angular, Bootstrap, nodeJS</h5>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h3 class="text-white">Products</h3>
        <hr class="deep-purple accent-2 mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <a routerLink="" class="nav-link">Home</a>
        <a routerLink="best" class="nav-link">Best</a>
        <a routerLink="popular" class="nav-link">Populär</a>
        <a routerLink="favorite" class="nav-link">Favoriten</a>
      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h3 class="text-white">Useful links</h3>
        <hr class="deep-purple accent-2 mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
        </p>
        <p>
          <a href="https://angular.io/" target="_blank">Angular</a>
        </p>
        <p>
          <a href="https://github.com/" target="_blank">Github</a>
        </p>
        <p>
          <a href="https://www.jetbrains.com/" target="_blank">Jetbrains</a>
        </p>
      </div>
    </div>
  </div>
  <div class="text-center text-white">© 2020 Copyright by: Joël Iselin, Michael Wettstein, Roland Jaggi</div>
</footer>
