<app-header></app-header>
<!--<div *ngIf="genresTypes$">-->
<!--  <div *ngFor="let genres of genresTypes$">-->
<!--    <div *ngIf="genres">-->
<!--      <ul *ngFor="let genre of genres">-->
<!--        <li>{{genre.name}}</li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<button type="submit" (click)="getTopRated();" class="btn btn-primary">Top Rated</button><br>

<div *ngIf="topRated$">
  <div *ngFor="let top of topRated$">
    <div *ngIf="top">
      <ul>
        <li><p>{{top.vote_average}}</p>
          <p>{{top.original_title}}</p>
          <p>{{top.overview}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
<app-footer></app-footer>
