<div class="create-todo text-center container-fluid">
  <h2 class="display-2">Add new Todo</h2>
  <label class="todo-input-label text-center">
    Nachname:
    <input [(ngModel)]="firstName" name="firstName" type="text" class="" placeholder="Jhon" />
  </label>
  <label class="todo-input-label">
    Vorname:
    <input [(ngModel)]="lastName" name="lastName" type="text" placeholder="Doe" />
  </label>
  <label class="todo-input-label" for="todo">
    Todo:
    <textarea [(ngModel)]="todoField" rows="4" cols="50" id="todo" placeholder="Today I need to visit the supermarket"></textarea>
  </label>
  <br><br>
  <button type="submit" (click)="addTodo();" class="btn btn-primary">Submit your Todo</button><br>
</div>

