<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput name="email" type="email" placeholder="E-Mail">
    </mat-form-field>
    <mat-form-field>
      <input type="password" name="password" placeholder="Password">
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Login</button>
    <hr>
    <button mat-raised-button color="primary" routerLink="/signup" routerLinkActive="active" class="nav-link">Signup</button>
  </form>
</mat-card>

