<div class="button-center">
  <button class="btn btn-dark" type="button" (click)="onDisplayModeChange(1)"
          [ngClass]="{'btn-primary active': displayMode === 1}">
    <i class="fa fa-th fa-3x"></i>
  </button>
  <button class="btn btn-dark" type="button" (click)="onDisplayModeChange(2)"
          [ngClass]="{'btn-primary active': displayMode === 2}">
    <i class="fa fa-list fa-3x"></i>
  </button>
  <div class="button-center">
    <div *ngFor="let genre of allGenres;">
        <span>
          <button type="submit" (click)="getSelectedGenre(genre.id)" class="btn btn-outline-light align-bottom">{{genre.name}}</button>
        </span>
    </div>
  </div>
</div>

<div class="center">
  <!-- Grid View -->
  <div class="row col-11" *ngIf="displayMode === 1">
    <div class="m-1 p-1 row-grid"
         *ngFor="let top of movieFiltered let index = index"
         [ngClass]="{'odd': 0 === index % 2, 'even': 1 === index % 2}">
      <div>
        <img src="{{this.topRatedImageBasePath}}{{top.poster_path}}" alt="Image of the movie">
        <div>
          <i class="card-title mr-3">{{top.title}}</i>
          <i class="card-title mr-3">{{top.genre_ids}}</i>
          <br/>
          <button type="submit" (click)="addFavorite(index);" class="btn btn-outline-light align-bottom">Favorite
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- List View -->
  <div class="row col-12" *ngIf="displayMode === 2">
    <div class="container pt-2" *ngIf="movieFiltered">
      <div class="row mb-2"
           *ngFor="let top of movieFiltered; let index = index"
           [ngClass]="{'odd': 0 === index % 2, 'even': 1 === index % 2}">
        <div class="col-lg-3 mb-1 mt-1">
          <img src="{{this.topRatedImageBasePath}}{{top.poster_path}}" alt="Image of the movie">
        </div>
        <div class="col-lg-9 mt-2">
          <h4 class="card-title">{{top.title}}</h4>
          <p>{{top.overview}}</p>
          <p><strong>Bewertung: </strong>{{top.vote_average}}</p>
          <br>
          <button type="submit" (click)="addFavorite(index);" class="btn btn-outline-light align-bottom">In die Favoritenliste aufnehmen</button>
        </div>
      </div>
    </div>
  </div>
</div>


