<div class="center row col-12 genre-button-container">
  <div *ngFor="let genre of allGenres;">
        <span>
          <button type="submit" (click)="getSelectedGenre(genre.id)"
                  class="btn btn-outline-light align-bottom genre-button">{{genre.name}}</button>
        </span>
  </div>
</div>
<div class="center row col-12">
  <button class="btn btn-dark mr-1" type="button" (click)="onDisplayModeChange(1)"
          [ngClass]="{'btn-primary active': displayMode === 1}">
    <i class="fa fa-th fa-3x"></i>
  </button>
  <button class="btn btn-dark mr-4" type="button" (click)="onDisplayModeChange(2)"
          [ngClass]="{'btn-primary active': displayMode === 2}">
    <i class="fa fa-list fa-3x"></i>
  </button>
</div>

<div class="center">
  <!-- Grid View -->
  <div class="row col-11" *ngIf="displayMode === 1">
    <div class="m-1 p-1 row-grid content-manager"
         *ngFor="let top of movieFiltered let index = index"
         [ngClass]="{'odd': 0 === index % 2, 'even': 1 === index % 2}">
      <div>
        <div class="movie-image-frame">
          <img src="{{this.topRatedImageBasePath}}{{top.poster_path}}" alt="Image of the movie {{top.title}}"/>
        </div>
        <div class="movie-information">
          <span class="card-title mr-3">{{top.title}}</span>
        </div>
        <button type="submit" (click)="addFavorite(index);"
                class="btn btn-outline-light align-button-bottom-left genre-button">Favorite
        </button>
        <!-- Button trigger modal -->
        <button type="submit" class="btn btn-outline-primary align-button-bottom-right" data-toggle="modal"
                attr.data-target="#modal{{index}}">More
        </button>

        <!-- Modal -->
        <div class="modal fade" id="modal{{index}}" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
             aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <span class="modal-title" id="modalLabel">{{top.title}}</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div>
                <div class="modal-body">
                  <table>
                    <tr>
                      <td>Release date:</td>
                      <td>{{top.release_date}}</td>
                    </tr>
                    <tr>
                      <td>Original title:</td>
                      <td>{{top.original_title}}</td>
                    </tr>
                    <tr>
                      <td>Original language:</td>
                      <td>{{top.original_language}}</td>
                    </tr>
                    <tr>
                      <td>
                        <img src="{{this.topRatedImageBasePath}}{{top.poster_path}}"
                             alt="Image of the movie {{top.title}}"
                             class="modal-table-image"/>
                      </td>
                    </tr>
                  </table>
                </div>
                <p class="col-12 modal-teaser-text">{{top.overview}}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary modal-close-button" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- List View -->
  <div class="row col-12" *ngIf="displayMode === 2">
    <div class="container pt-2" *ngIf="movieFiltered">
      <div class="row mb-2"
           *ngFor="let top of movieFiltered; let index = index"
           [ngClass]="{'odd': 0 === index % 2, 'even': 1 === index % 2}">
        <div class="col-lg-3 mb-1 mt-1">
          <img src="{{this.topRatedImageBasePath}}{{top.poster_path}}" alt="Image of the movie called '{{top.title}}'">
        </div>
        <div class="col-lg-9 mt-2">
          <h4 class="card-title">{{top.title}}</h4>
          <p>{{top.overview}}</p>
          <p><strong>Bewertung: </strong>{{top.vote_average}}</p>
          <br>
          <button type="submit" (click)="addFavorite(index);" class="btn btn-outline-primary align-bottom">In die
            Favoritenliste aufnehmen
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
