<h1 class="text-center display-2">Favoritelist</h1>
<table class="table table-hover table-striped table-dark">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Firstname</th>
    <th scope="col">Lastname</th>
    <th scope="col">Todo</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of favoriteListArray">
    <td><button (click)="deleteTodo(item);" type="submit" class="btn btn-danger">X</button></td>
    <td>{{item.firstName}}</td>
    <td>{{item.lastName}}</td>
    <td>{{item.todoField}}</td>
  </tr>
  </tbody>
</table>
